*{
    font-family: "Font1", Arial, Helvetica, sans-serif;
}

:root{
    --health: rgb(198, 49, 23);
}

.text-outline-thin {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

/*#region Loading Screen*/

.loading-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: rgb(20, 22, 25);
    font-size: 2rem;
    transition: background-color 2s ease-out;
    z-index: 9999;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion*/

.ui-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

#debug-info {
    position: relative;
    margin: 2rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    & p {
        margin-bottom: 0.5rem;
        text-shadow: black 2px 2px 5px;
    }
}

.stat-bar {
    position: relative;
    width: 400px;
    height: 28px;
    border-radius: 14px;
    margin-top: 1rem;
    margin-right: 2rem;
}

.stat-bar meter {
    position: relative;
    width: 100%;
    height: 28px;
    appearance: none; /* Reset appearance */
    border: solid medium black;
    border-radius: 14px;
    background: none;
    background-color: #101416;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}

/* The gray background in Chrome, etc. */
.stat-bar meter::-webkit-meter-bar {
    background: #101416;
}

.stat-bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
}

/*
@supports (-webkit-text-stroke: 3px black) {
    .stat-bar span {
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px black;
    }
}
    */

/* Firefox */
meter#player-health:-moz-meter-optimum::-moz-meter-bar {
    background: var(--health);
}

/* Chrome etc. */
meter#player-health::-webkit-meter-optimum-value {
    background: var(--health);
}