
/*#region Loading Screen*/

.loading-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: rgb(20, 22, 25);
    font-size: 2rem;
    font-family: "Font1", Arial, Helvetica, sans-serif;
    transition: background-color 2s ease-out;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion*/

.ui-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}